
<div class="toolbar" role="banner">
	<img width="40" alt="my logo" src="assets/images/ak.png"/>
	<span>Welcome</span>
	<div class="spacer"></div>

	<a href="https://twitter.com/ajesh_offl">
		<img id="social-profile" src="https://www.vectorlogo.zone/logos/twitter/twitter-tile.svg" alt="Ajesh's Twitter Profile">
	</a>

	<a href="https://www.linkedin.com/in/ajesh-cr-8289305/">
		<img id="social-profile" src="https://www.vectorlogo.zone/logos/linkedin/linkedin-tile.svg" alt="Ajesh's LinkedIn Profile">
	</a>

	<a href="https://stackoverflow.com/users/12039826/bug?tab=profile">
		<img id="social-profile" src="https://www.vectorlogo.zone/logos/stackoverflow/stackoverflow-icon.svg" alt="Ajesh's Stack Overflow Profile">
	</a>

	<a href="https://stackexchange.com/users/16659495/bug?tab=profile">
		<img id="social-profile" src="https://www.vectorlogo.zone/logos/stackexchange/stackexchange-icon.svg" alt="Ajesh's Stack Exchange Profile">
	</a>

	<a href="https://medium.com/@ajeshkalayil">
		<img id="social-profile" src="https://www.vectorlogo.zone/logos/medium/medium-tile.svg" alt="Ajesh's Medium Profile">
	</a>

	<a href="https://dev.to/ajeshcr">
		<img id="social-profile" src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Ajesh's Dev Profile">
	</a>

</div>

<div class="content" role="main">

    <img id="user-profile" src="assets/images/ak.jpg" class="rounded-circle card-img-top" alt="user profile">
    <br>
    <h5>{{userName}}</h5>

</div>
